PORT=5003
DB_USER=postgres
DB_HOST=localhost
DB_NAME=controletotal
DB_PASSWORD=sua_senha_aqui
DB_PORT=5432
EVOLUTION_API_URL=http://srv1778424.hstgr.cloud:32774
EVOLUTION_API_KEY=sua_chave_evolution
GEMINI_API_KEY=sua_chave_gemini
JWT_SECRET=sua_chave_jwt
